
body{
    padding: 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    background-color: blue;
}

header nav a{
    color: #ffffff;
}

.h-banner{
    padding: 50px 0xp;
    color: #ffffff;
    background-color: green;
}

.s-banner{
    padding: 50px 0xp;
    color: #ffffff;
    background-color: red;
}
.c-banner{
    padding: 50px 0xp;
    color: #ffffff;
    background-color: orangered;
}

footer{
    padding: 10px 0px;
    background: grey;
}